<style>
    body
    {
        margin:0;
        padding:0;
    }
    .mainDiv{
        width:100%;
        height:100%;
        background-color: white;
    }
    .signUpDiv{
        padding-top: 28px;
        width:1000px;

        height:100%
    }




</style>
<div class="mainDiv" align="center">
    <div class="signUpDiv Shiftleft" align="center">
        <div class="mainAreaLanding Shiftleft" >
            <div class="landingSmallBox">

            </div>
            <div class="landingSmallBoxMiddle">

            </div>
            <div class="landingSmallBox">

            </div>

            <div class="landingLongBox">

            </div>
            <div class="landingLongBoxMiddle">

            </div>
            <div class="landingLongBox">

            </div>




        </div>
    </div>
</div>