<style>
    body
    {
        margin:0;
        padding:0;
    }
    .mainDiv{
        width:100%;
        height:100%;
        background-color: white;
    }
    .signUpDiv{
        padding-top: 28px;
        width:1000px;

        height:100%
    }




</style>
<div class="mainDiv" align="center">
    <div class="signUpDiv Shiftleft" align="center">
        <div class="mainAreaLanding Shiftleft" >
            <div class="landingSmallBox" style="vertical-align: top;">
                <span style="font-size: 22px;margin-top: 10px" class="color">Campaigns being evangelized </span>
                <br>
                <br>
                <span style="font-size: 27px;color: black">08</span>&nbsp;
                <i  style="font-size: 27px;cursor: pointer" class="fa fa-chevron-circle-down color"  aria-hidden="true"></i>
            </div>
            <div class="landingSmallBoxMiddle" style="vertical-align: top;">
                <span style="font-size: 22px" class="color">Earnings </span>
                <br>
                <br>
                <span style="font-size: 27px;color: black">$48,302.12</span>

            </div>
            <div class="landingSmallBox" style="vertical-align: top;">
                <span style="font-size: 22px" class="color">Platform conneted </span>
                <br>
                <br>
                <i style="font-size: 32px;margin-left: 10px;margin-right: 10px" class="fa fa-facebook" aria-hidden="true"></i>
                <i style="font-size: 32px;margin-left: 10px;margin-right: 10px" class="fa fa-twitter" aria-hidden="true"></i>


                <span style="float: right;margin-right: 8px;margin-top: 5px" >Add More</span>
                <i  style="float: right;margin-right: 8px;margin-top:2px;font-size: 26px;" class="fa fa-plus-circle color" aria-hidden="true"></i>
            </div>

            <div class="landingLongBox" style="vertical-align: top;position: relative">
                <span style="font-size: 22px;margin-top: 10px" class="color">Evangelize more brands !</span>
                <table width="100%;"style="margin-top: 10px">
                    <tr style="height: 50px">
                        <td style="width: 35%;text-align:center ">
                            <i style="font-size: 32px;margin-left: 10px;margin-right: 10px" class="fa fa-picture-o" aria-hidden="true"></i>
                        </td>
                        <td>
                            <span style="font-size: 20px">BMW Campaign</span>
                        </td>
                    </tr>

                    <tr style="height: 50px">
                        <td style="width: 35%;text-align:center ">
                            <i style="font-size: 32px;margin-left: 10px;margin-right: 10px" class="fa fa-picture-o" aria-hidden="true"></i>
                        </td>
                        <td>
                            <span style="font-size: 20px">Audi Campaign</span>
                        </td>
                    </tr>
                    <tr style="height: 50px">
                        <td style="width: 35%;text-align:center ">
                            <i style="font-size: 32px;margin-left: 10px;margin-right: 10px" class="fa fa-picture-o" aria-hidden="true"></i>
                        </td>
                        <td>
                            <span style="font-size: 20px">Jaguar Campaign</span>
                        </td>
                    </tr>

                    <tr style="height: 50px">
                        <td style="width: 35%;text-align:center ">
                            <i style="font-size: 32px;margin-left: 10px;margin-right: 10px" class="fa fa-picture-o" aria-hidden="true"></i>
                        </td>
                        <td>
                            <span style="font-size: 20px">Bentley Campaign</span>
                        </td>
                    </tr>
                </table>
                <div style="position: absolute;bottom: 8px;left: 70px">
                    <i  style="font-size: 27px;cursor: pointer;margin-top: 4px" class="fa fa-chevron-circle-down color"  aria-hidden="true"></i>
                    <span style="margin-left: 8px; font-size: 20px" >Show me more</span>
                </div>
            </div>
            <div class="landingLongBoxMiddle" style="vertical-align: top; position: relative">
                <span style="font-size: 22px;margin-top: 10px" class="color">Type of Brands I would like to talk about...</span>
                <table width="100%;"style="margin-top: 10px">
                    <tr style="height: 50px">
                        <td style="width: 35%;text-align:center ">
                            <i style="font-size: 32px;margin-left: 10px;margin-right: 10px" class="fa fa-car" aria-hidden="true"></i>
                        </td>
                        <td>
                            <span style="font-size: 20px">Automobile</span>
                        </td>
                    </tr>

                    <tr style="height: 50px">
                        <td style="width: 35%;text-align:center ">
                            <i style="font-size: 32px;margin-left: 10px;margin-right: 10px" class="fa fa-cutlery" aria-hidden="true"></i>
                        </td>
                        <td>
                            <span style="font-size: 20px">Food & beverages</span>
                        </td>
                    </tr>
                </table>
                <div style="position: absolute;bottom: 8px;left: 150px">
                    <i  style="font-size: 27px;cursor: pointer;margin-top: 4px" class="fa fa-plus-circle color"  aria-hidden="true"></i>
                    <span style="margin-left: 8px; font-size: 20px" >Add more</span>
                </div>

            </div>
            <div class="landingLongBox" style="vertical-align: top;">
                <span style="font-size: 22px;margin-top: 10px" class="color">My social prowess </span>
                <br>
                <table width="100%" style="margin-top: 8px">
                    <tr style="height: 35px;" >
                        <td rowspan="2" style=";text-align: center;width: 40%" >
                            <i style="font-size: 32px;margin-left: 10px;margin-right: 10px" class="fa fa-facebook" aria-hidden="true"></i>
                        </td>
                        <td style="">
                            <span style="margin-top:8px">400 Friends</span>
                        </td>
                    </tr>
                    <tr  style="height: 35px">
                        <td style="">
                            39 Countries
                        </td>
                    </tr>
                    <tr style="height: 20px">
                        <td></td>
                    </tr>
                    <tr style="height: 35px;" >
                        <td rowspan="2" style=";text-align: center">
                            <i style="font-size: 32px;margin-left: 10px;margin-right: 10px" class="fa fa-twitter" aria-hidden="true"></i>
                        </td>
                        <td style="">
                            300 Followers
                        </td>
                    </tr>
                    <tr  style="height: 35px">
                        <td style="">
                            400 Retweets
                        </td>
                    </tr>
                    <tr style="height: 20px">
                        <td></td>
                    </tr>
                    <tr style="height: 35px;" >
                        <td rowspan="2" style=";text-align: center">
                            <i style="font-size: 32px;margin-left: 10px;margin-right: 10px" class="fa fa-instagram" aria-hidden="true"></i>

                        </td>
                        <td style="">
                            300 Followers
                        </td>
                    </tr>
                    <tr  style="height: 35px">
                        <td style="">
                            300 Likes
                        </td>
                    </tr>
                    <tr style="height: 20px">
                        <td></td>
                    </tr>
                    <tr style="height: 35px;" >
                        <td rowspan="2" style="; text-align: center">
                            <i style="font-size: 32px;margin-left: 10px;margin-right: 10px" class="fa fa-snapchat-ghost" aria-hidden="true"></i>

                        </td>
                        <td style="">
                            300 Followers
                        </td>
                    </tr>
                    <tr  style="height: 35px">
                        <td style="">
                            300 Shares
                        </td>
                    </tr>

                </table>

            </div>




        </div>
    </div>
</div>