<style>

    .dpSkelton{
        height:300px;width:300px;position: absolute;bottom: 40px;right: 160px;border: solid #50D2C2 1px;border-radius:10px;z-index: 1
    }
    .dpArea
    {
        height:320px;width:320px;position: absolute;top:30px;left:220px;border-radius: 8px;z-index: 2;
    }
    .dp{
        width:320px;height:320px;border-radius:8px
    }
    .reviewPointers
    {
        height: 20px;margin-top: 3px;
    }
    .reviewUsers
    {
        height: 43px;margin-top:5px;font-size: 14px
    }
    .reviewArea
    {
        height:170px;width:200px;position: absolute;bottom: 20px;right: 70px;padding-top:30px;border: solid white 10px;border-radius: 50%;background-color: #FF1493;z-index: 3
    }
    .reviewQuoteArea
    {
        display: inline-block;height: 85px;width: 130px;font-size: 14px;line-height:1.2;font-weight: bold;color: white;
    }
    .reviewDiv
    {
        display: inline-block;height:135px;width: 130px
    }
    @media (min-height: 401px) and (max-height: 780px) {

        .dpSkelton{
            height:200px;width:200px;position: absolute;bottom: 60px;right: 180px;border: solid #50D2C2 1px;border-radius:10px;z-index: 1
        }
        .dpArea
        {
            height:220px;width:220px;position: absolute;top:30px;left:220px;border-radius: 8px;z-index: 2;
        }
        .dp{
            width:220px;height:220px;border-radius:8px
        }
        .reviewPointers
        {
            height: 20px;margin-top: 3px;
        }
        .reviewUsers
        {
            height: 23px;margin-top:5px;font-size: 8px
        }
        .reviewArea
        {
            height:110px;width:130px;position: absolute;bottom: 35px;right: 140px;padding-top:20px;border: solid white 10px;border-radius: 50%;background-color: #FF1493;z-index: 3
        }
        .reviewQuoteArea
        {
            display: inline-block;height: 55px;width: 100px;font-size: 10px;line-height:1.2;font-weight: bold;color: white;
        }
        .reviewDiv
        {
            display: inline-block;height:135px;width: 130px
        }


    }
</style>
<div class="mainDiv" align="center">
    <div class="signUpDiv Shiftleft" align="center">
        <span class="topHeading">
            Welcome to Advangelists.
        </span>
        <br>
        <span class="subTopHeading">
            We are bringing celebrity marketing and endorsing to the masses
        </span>
        <div class="mainArea Shiftleft">
            <div class="dpSkelton">
            </div>
            <div class="reviewArea">
                <div class="reviewDiv" >
                    <div class="reviewQuoteArea">
                        <span>"jhbhb ibbbkn k kjbnknb kbk bjbjhb bjhbjnk bj j jbjbjbjbjb j bj bjb j jsndjc kn mn jbbj"</span>
                    </div>
                    <div class="reviewUsers">
                        <span > Garihc Chirag</span><br>
                        <span > level one avandglist</span>
                    </div>
                    <div class="reviewPointers">
                        <span style="font-size: 8px">
                            <i class="fa fa-circle" style="color: white" aria-hidden="true"></i>&nbsp
                            <i class="fa fa-circle" style="color: grey" aria-hidden="true"></i>&nbsp;
                            <i class="fa fa-circle fa-1x" style="color: grey"  aria-hidden="true"></i>&nbsp;
                            <i class="fa fa-circle" style="color: grey"  aria-hidden="true"></i></span>
                    </div>
                </div>


            </div>
            <div class="dpArea">
                <img src="images/user.jpg" class="dp">
            </div>
        </div>
        <table style="width: 100%;margin-top: 10px">
            <tr>
                <td width="34%">

                </td>
                <td width="33%" style="vertical-align: top">
                    <button ng-click="next()" class="buttonCheckOut">
                        <i class="fa fa-money " style="float: left;margin-top:0px;font-size: 20px" aria-hidden="true"></i>  &nbspCheck out your earning potential
                    </button>
                </td>
                <td width="33%">

                </td>
            </tr>
        </table>

    </div>
</div>